
RecordEdits

Define DiscreteDistribution { enjabonardist  llegadaspoissson  secadopoisson }
Define UniformDistribution { mojadouniform }
Define EntityGenerator { llegadaautos }
Define EntitySink { EntitySink1 }
Define Queue { espera1  espera2  espera3 }
Define Server { enjabonar  mojado  secado }
Define SimEntity { SimEntity1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define EntityLabel { enjabonar_Label  enjabonardist_Label  espera1_Label  espera2_Label  espera3_Label  llegadaautos_Label  llegadaspoissson_Label  mojado_Label  mojadouniform_Label  secado_Label  secadopoisson_Label }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text1_Copy1 }
Define View { View1 }

enjabonardist UnitType { TimeUnit }
llegadaspoissson UnitType { TimeUnit }
secadopoisson UnitType { TimeUnit }
mojadouniform UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }

# *** DiscreteDistribution ***

enjabonardist RandomSeed { 3 }
enjabonardist ValueList { 9  12  15  18  21  24  min }
enjabonardist ProbabilityList { 0.2000  0.2250  0.2250  0.1500  0.0750  0.1250 }

llegadaspoissson RandomSeed { 3 }
llegadaspoissson ValueList { 5  6  7  8  9  10  11  12  13  14  15  16  17  18  21  min }
llegadaspoissson ProbabilityList { 0.0500  0.0500  0.0500  0.0250  0.0750  0.0250  0.1500  0.2250  0.0750  0.0500  0.0500  0.0250  0.0500  0.0500  0.0500 }

secadopoisson RandomSeed { 3 }
secadopoisson ValueList { 1  2  3  4  min }
secadopoisson ProbabilityList { 0.3000  0.3000  0.3000  0.1000 }

# *** UniformDistribution ***

mojadouniform RandomSeed { 2 }
mojadouniform MinValue { 3  min }
mojadouniform MaxValue { 8  min }

# *** EntityGenerator ***

llegadaautos NextComponent { espera1 }
llegadaautos InterArrivalTime { llegadaspoissson }
llegadaautos PrototypeEntity { SimEntity1 }

# *** EntitySink ***


# *** Queue ***




# *** Server ***

enjabonar NextComponent { espera3 }
enjabonar WaitQueue { espera2 }
enjabonar ServiceTime { enjabonardist }

mojado NextComponent { espera2 }
mojado WaitQueue { espera1 }
mojado ServiceTime { mojadouniform }

secado NextComponent { EntitySink1 }
secado WaitQueue { espera3 }
secado ServiceTime { secadopoisson }

# *** SimEntity ***


# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { min  deg }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 4000 }
Simulation PauseTime { 480  min }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation InputEditorPos { 212  424 }
Simulation InputEditorSize { 557  249 }
Simulation OutputViewerPos { 774  465 }
Simulation ControlPanelWidth { 1009 }

enjabonardist Position { 2.1  -2.8  0.0  m }
enjabonardist Points { { 2.1  -2.8  0.0  m } { 3.1  -2.8  0.0  m } }

llegadaspoissson Position { -2.3  -2.7  0.0  m }
llegadaspoissson Points { { -2.3  -2.7  0.0  m } { -1.3  -2.7  0.0  m } }

secadopoisson Position { 4.6  -2.9  0.0  m }
secadopoisson Points { { 4.6  -2.9  0.0  m } { 5.6  -2.9  0.0  m } }

mojadouniform Position { -0.1  -2.9  0.0  m }
mojadouniform Points { { -0.1  -2.9  0.0  m } { 0.9  -2.9  0.0  m } }

llegadaautos Position { -2.2  -1.3  0.0  m }
llegadaautos Points { { -2.2  -1.3  0.0  m } { -1.2  -1.3  0.0  m } }

EntitySink1 Position { 6.5  -1.3  0.0  m }
EntitySink1 Points { { 6.5  -1.3  0.0  m } { 7.5  -1.3  0.0  m } }

espera1 Position { -1.5  0.9  0.0  m }
espera1 Points { { -1.5  0.9  0.0  m } { -0.5  0.9  0.0  m } }

espera2 Position { 1.0  1.5  0.0  m }
espera2 Points { { 1.0  1.5  0.0  m } { 2.0  1.5  0.0  m } }

espera3 Position { 3.5  2.1  0.0  m }
espera3 Points { { 3.5  2.1  0.0  m } { 4.5  2.1  0.0  m } }

enjabonar Position { 0.1  2.8  0.0  m }
enjabonar Points { { 0.1  2.8  0.0  m } { 1.1  2.8  0.0  m } }
enjabonar RelativeEntity { enjabonardist }

mojado Position { -0.1  0.0  0.0  m }
mojado Points { { -0.1  0.0  0.0  m } { 0.9  0.0  0.0  m } }

secado Position { 4.7  0.1  0.0  m }
secado Points { { 4.7  0.1  0.0  m } { 5.7  0.1  0.0  m } }

SimEntity1 Position { -3.3  -0.1  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }
SimEntity1 Points { { -3.3  -0.1  0.0  m } { -2.3  -0.1  0.0  m } }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

enjabonar_Label Position { 0.0  -0.65  0.0  m }
enjabonar_Label Size { 1.184242  0.3  0.0  m }
enjabonar_Label RelativeEntity { enjabonar }
enjabonar_Label TargetEntity { enjabonar }

enjabonardist_Label Position { 0.0  -0.65  0.0  m }
enjabonardist_Label Size { 1.554455  0.3  0.0  m }
enjabonardist_Label RelativeEntity { enjabonardist }
enjabonardist_Label TargetEntity { enjabonardist }

espera1_Label Position { 0.0  0.5  0.0  m }
espera1_Label Size { 0.966722  0.3  0.0  m }
espera1_Label RelativeEntity { espera1 }
espera1_Label TargetEntity { espera1 }

espera2_Label Position { 0.1  0.6  0.0  m }
espera2_Label Size { 0.966722  0.3  0.0  m }
espera2_Label RelativeEntity { espera2 }
espera2_Label TargetEntity { espera2 }

espera3_Label Position { 0.1  0.4  0.0  m }
espera3_Label Size { 0.966722  0.3  0.0  m }
espera3_Label RelativeEntity { espera3 }
espera3_Label TargetEntity { espera3 }

llegadaautos_Label Position { 0.0  -0.65  0.0  m }
llegadaautos_Label Size { 1.446443  0.3  0.0  m }
llegadaautos_Label RelativeEntity { llegadaautos }
llegadaautos_Label TargetEntity { llegadaautos }

llegadaspoissson_Label Position { 0.0  -0.65  0.0  m }
llegadaspoissson_Label Size { 1.869814  0.3  0.0  m }
llegadaspoissson_Label RelativeEntity { llegadaspoissson }
llegadaspoissson_Label TargetEntity { llegadaspoissson }

mojado_Label Position { 0.0  -0.65  0.0  m }
mojado_Label Size { 0.916855  0.3  0.0  m }
mojado_Label RelativeEntity { mojado }
mojado_Label TargetEntity { mojado }

mojadouniform_Label Position { 0.0  -0.65  0.0  m }
mojadouniform_Label Size { 1.713032  0.3  0.0  m }
mojadouniform_Label RelativeEntity { mojadouniform }
mojadouniform_Label TargetEntity { mojadouniform }

secado_Label Position { 0.0  -0.65  0.0  m }
secado_Label Size { 0.858411  0.3  0.0  m }
secado_Label RelativeEntity { secado }
secado_Label TargetEntity { secado }

secadopoisson_Label Position { 0.0  -0.65  0.0  m }
secadopoisson_Label Size { 1.631749  0.3  0.0  m }
secadopoisson_Label RelativeEntity { secadopoisson }
secadopoisson_Label TargetEntity { secadopoisson }

# *** OverlayClock ***

Clock Description { 'Simulation date and time (no leap years or leap seconds)' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock StartingYear { 2014 }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { -3.8  -1.7  0.0  m }
Text1 Points { { -3.8  -1.7  0.0  m } { -2.8  -1.7  0.0  m } }
Text1 Format { '%.0f autos' }
Text1 DataSource { [llegadaautos].NumberAdded }

Text1_Copy1 Position { 6.3  -2.2  0.0  m }
Text1_Copy1 Points { { 6.3  -2.2  0.0  m } { 7.3  -2.2  0.0  m } }
Text1_Copy1 Format { '%.0f autos' }
Text1_Copy1 DataSource { [EntitySink1].NumberAdded }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 1.422518  -0.462283  8.134447  m }
View1 ViewPosition { 1.422518  -0.462283  16.7947  m }
View1 WindowSize { 975  347 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
